@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  img {
    width: 50%; /* Ukuran lebih kecil di layar tablet/desktop */
  }
}

@media (min-width: 1024px) {
  .pageContainer {
    padding: 60px;
    min-height: 400px;
  }
}
